.leftMenu div img {
    margin-right: 15px;
}

.leftMenu {
    width: 15%;
}

.feedSection {
    width: 60%;
    overflow-y: scroll;
    height: 100vh;
    padding: 0 3%;
}

.feedSection::-webkit-scrollbar {
    display: none;
}

.followers {
    width: 25%;
    height: 95vh;
    overflow-y: scroll;
}

.followers::-webkit-scrollbar {
    display: none;
}

.feedSection_story {
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.feedSection_story::-webkit-scrollbar {
    display: none;
}

.feedSection_post {
    padding-top: 30px;
}

.speration-line {
    height: 85vh;
    margin-top: 50px;
}

.storyVisible {
    display: none;
}
