.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.dragdrop label {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 0.75rem;
}

.dragdrop input {
    display: none;
}

.newPostImageContainer {
    width: auto;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
}

.newPostImageContainer img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.post-button {
    background-color: var(--color-blue);
    color: white;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    padding: 9px 0 7px 8px;
    width: 50%;
    border: 1px solid rgb(219, 219, 219);
    margin: 20px 0;
    outline: none;
    cursor: pointer;
    border-radius: 9px;
}

.post-textarea {
    outline: none;
    background-color: #c6c6c6;
    border-radius: 6px;
}

@media screen and (max-width: 480px) {
    .modal {
        width: 80%;
    }

    .modal-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .newPostImageContainer-wrapper {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newPostImageContainer {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newPostImageContainer img {
        width: auto;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }

    .newPostContainer {
        width: 100%;
    }

    .createPost-profile {
        display: none;
    }

    .post-textarea {
        width: 100%;
        font-size: 0.8rem;
    }

    .edit-post-right-side {
        align-items: center;
        justify-content: center;
    }

    .top-right-dots_menu-active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .edit-post-container {
        display: flex;
        justify-content: center;
    }

    .edit-post-copyright {
        width: 60%;
    }

    .image-outline {
        height: auto !important;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .modal {
        width: auto;
        max-width: 90%;
    }

    .modal-content {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .post-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-image {
        width: auto;
        height: 500px;
        object-fit: contain;
    }

    .newPostImageContainer {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newPostImageContainer img {
        width: auto;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }

    .createPost-profile {
        display: none;
    }
}
