.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 35px;
}

.data-user-name-date .mx-2 {
    height: 4px;
    width: 4px;
    border-radius: 2px;
}

.feedSection_post {
    margin: 0 10%;
}

.image-outline img {
    width: auto;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.comment-bottom-line {
    height: 1px;
}

.emo {
    transition: transform 0.3s;
}

.image-outline {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 20px;
}

.share-handle {
    transition: 0.5s;
    font-size: 1.6rem;
    rotate: 10deg;
    color: rgb(87, 87, 87);
}

.share-text {
    display: none;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
    z-index: 20;
    position: absolute;
    top: -30px;
    left: 90px;
    border-radius: 5px;
    text-wrap: nowrap;
    transition: 0.5s;
}

.heart-handle,
.comment-handle,
.save-handle {
    transition: 0.5s;
    font-size: 1.4rem;
    color: rgb(87, 87, 87);
}

.heart-handle-fill {
    transition: 0.3s;
    font-size: 1.4rem;
    color: rgb(218, 14, 14);
}

.share-handle:hover,
.save-handle:hover {
    scale: 1.2;
    color: rgb(3, 112, 255);
}

.heart-handle:hover,
.heart-handle-fill:hover {
    scale: 1.1;
    color: rgb(218, 14, 14);
}

.comment-handle:hover {
    scale: 1.1;
    color: rgb(0, 0, 0);
}

.share-handle:hover + .share-text {
    display: block;
}

.bottom-icons-left {
    position: relative;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    width: auto;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-right-dots {
    position: relative;
    cursor: pointer;
}

.top-right-dots_icon {
    color: rgb(46, 46, 46);
    font-size: 1.4rem;
}

.top-right-dots_menu-active {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    color: rgb(35, 35, 35);
    background-color: transparent;
}

.top-right-dots_menu-active li a {
    padding: 3px 10px;
    margin-bottom: 5px;
    color: rgb(35, 35, 35);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.top-right-dots_menu-active a:hover {
    color: #0066cc;
    font-weight: 500;
}

.top-right-dots_menu-inactive {
    display: none;
}

@media screen and (max-width: 480px) {
    .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .username {
        font-size: 0.85rem;
    }

    .data-caption p {
        font-size: 0.75rem;
        margin-top: -5px;
    }

    .date {
        font-size: 0.8rem;
    }

    .top-right-dots_icon {
        font-size: 1.2rem;
    }

    .heart-handle,
    .heart-handle-fill,
    .comment-handle,
    .save-handle {
        font-size: 1.2rem;
    }

    .share-handle {
        font-size: 1.4rem;
    }

    .bottom-user-name div {
        font-size: 0.8rem;
    }

    .bottom-like-count p {
        font-size: 0.8rem;
        margin-top: 0px;
    }
}
