.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 35px;
}

.data-user-name-date .mx-2 {
    height: 4px;
    width: 4px;
    border-radius: 2px;
}

.feedSection_post {
    margin: 0 10%;
}

.image-outline img {
    width: auto;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.comment-bottom-line {
    height: 1px;
}

.emo {
    transition: transform 0.3s;
}

.image-outline {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 20px;
}

.share-handle {
    transition: 0.5s;
    font-size: 1.6rem;
    rotate: 10deg;
    color: rgb(87, 87, 87);
}

.share-text {
    display: none;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
    z-index: 20;
    position: absolute;
    top: -30px;
    left: 90px;
    border-radius: 5px;
    text-wrap: nowrap;
    transition: 0.5s;
}

.heart-handle,
.comment-handle {
    transition: 0.5s;
    font-size: 1.4rem;
    color: rgb(87, 87, 87);
}

.heart-handle-fill {
    transition: 0.3s;
    font-size: 1.4rem;
    color: rgb(218, 14, 14);
}

.share-handle:hover {
    scale: 1.2;
    color: rgb(3, 112, 255);
}

.heart-handle:hover,
.heart-handle-fill:hover {
    scale: 1.1;
    color: rgb(218, 14, 14);
}

.comment-handle:hover {
    scale: 1.1;
    color: rgb(0, 0, 0);
}

.share-handle:hover + .share-text {
    display: block;
}

.bottom-icons-left {
    position: relative;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    width: auto;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
